@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.alert-info {
  background-color: #e0f2fe;
  border-color: #0ea5e9;
}
.alert-warning {
  background-color: #fef3c7;
  border-color: #f59e0b;
}
.alert-error {
  background-color: #fee2e2;
  border-color: #ef4444;
}
.alert-success {
  background-color: #d1fae5;
  border-color: #10b981;
}
